@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 57%;
    font-family: Montserrat, sans-serif;
}
body {
    color: #fff;
    background-color: #45badd;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}
img{
    width: 20%;
    height: auto;
}
.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

.highScores2 {
    display: flex;
    flex-direction: column;
}

.highScores1 {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    background: #ff3482;
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background: linear-gradient(90deg, rgb(255, 247, 9) 0%, rgb(240, 221, 6) 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255,255,0,0.5)
}

.fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}

